<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Aplicativo de previsão do tempo</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="#" onclick="index.html">Home</a>
            <a href="#" onclick="abrirModal()">Previsão do tempo</a>
        </nav>

    </header>


    <!--
    <nav class="info-body">
        <p>
            A previsão do tempo é de suma importância para o entendimento das condições climáticas de uma localidade. 
            Ela fornece informações importantes que possibilitam antever as condições climáticas locais e, assim, atuar na prevenção de diferentes situações.
        </p>
    </nav>

    -->  

    <div class="btn" onclick="abrirModal()">Pesquisar</div>
    
    <div class="janela-modal" id="janela-modal">
        <div class="modal" id="modal">
            <button class="fechar" id="fechar">X</button>
           <form action="/search" method="GET">    
                <label>
                        Digite a cidade escolhida:
                        <input type="text" id="cidade" name="cidade" required>
                    </label>
                    <label>
                        Digite o seu bairro:
                     <input type="text" id="bairro" name="bairro" required>
                </label>
                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
            </form>
          <div class="col-auto">
          
            </div>
           {{#if error}}
            <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
    {{/if}}

    {{#if previsao}}
    <section>
      <h2>{{bairro}}</h2>
      <p>Cidade: {{previsao.cidade}}</p>
      {{#each previsao.previsoes}}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{this.city.name}}</h5>
          <h5 class="card-title">{{this.dt_txt}}</h5>
          <p class="card-text">Temperatura atual: {{this.main.temp}} °C</p>
          <p class="card-text">Temperatura mínima: {{this.main.temp_min}} °C</p>
          <p class="card-text">Temperatura máxima: {{this.main.temp_max}} °C</p>
          <p class="card-text">Descrição: {{this.weather.[0].description}}</p>
          <img src="http://openweathermap.org/img/wn/{{this.weather.[0].icon}}@2x.png" alt="Ícone de previsão do tempo">
        </div>
      </div>
      {{/each}}
    </section>
    {{/if}}
        </div>
    </div>
<script src="/js/modal.js"></script>
</body>
</html>